language: node_js
node_js:
  - "0.12"
  - "0.11"
  - "0.10"
before_install: npm install -g grunt-cli
install: npm install
sudo: false
script:
  - npm test
after_success:
  - npm run check_coverage
  - npm run post_coverage